{
    "token": "BOT TOKEN HERE",
    "clientId": "BOT ID HERE",
    "ownerId": "YOUR PERSONAL ID HERE",
    "invite": "YOUR OATUH2 LINK HERE",
    "github": "https://github.com/ballaual/DiCoBo",
    "paypal": "https://paypal.com/paypalme/aballauf",
    "ytcookie": "YOUR YT COOKIE HERE"
}